

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100,900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  /* margin-right: 0.8rem; */
  background: linear-gradient(rgba(18, 121, 155, 0.89), rgba(18, 101, 180, 0.89)),
  url('./public/Group\ 14.png');
  background-size: cover;    
  background-position: center;
  background-repeat: repeat;
  position: relative;
  /* overflow: hidden !important; */
 
}
.password-toggle {
    z-index: 1000;
    position: absolute;
    right: 35px;
    top: 37%;
    /* transform: translateY(-50%); */
    color: black;
    cursor: pointer !important;
    background: none;
    border: none;
    padding: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: -1;
}

#root {
  width: 100%;
}

.home {
  padding-top: 1.9em;
  max-width: 410px;
  margin: 0 auto;
}
.header-image{
  margin-bottom: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  max-width: 410px;
  margin: 0 auto;
  border-radius: 0.5rem;
  padding: 1.5rem;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); */
  /* height: 80vh; */
}
.signup-container {
  height: 100vh;
}
.login-container a{
  color: white !important;
}
h2 {
  color: white;
}
/* forgot password */
.forgot-password {
  padding-top: 5rem;
  height: 90vh;
}
.signup-text a {
  color: white;
}
.login-container .social-login {
  display: flex;
  gap: 1.31rem;
}

.login-container .form-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.67rem;
}
.form-title h1{
  color: #fff;
}

.social-login .social-button {
  display: flex;
  width: 100%;
  gap: 0.81rem;
  cursor: pointer;
  padding: 0.55rem ;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.31rem;
  color: white;
  background: rgb(21, 56, 181);
  border: 1px solid #6b4be9;
}

.social-login-button:hover {
  background: #3b12e2;
  border-color: #5F41E4;
}

.login-container .separator {
  margin: 1.5rem;
  text-align: center;
  position: relative;
}

.login-container .separator span {
  position: relative;
  /* background: #fff; */
  z-index: 1;
  padding: 0 0.9rem;
  font-size: 1.36rem;
  font-weight: 500;
}

.login-container .separator::after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  /* background: #bfb3f2; */
}

.login-form .input-wrapper {
  height: 54px;
  width: 100%;
  position: relative;
}

.login-form .input-wrapper .input-feild {
    z-index: 200;
  height: 60%;
  width: 100%;
  outline: none;
  font-size: 1.06em;
  border-radius: 0.31rem;
  border: 1px solid #866fec;
  padding: 0 6.25rem 0 3.12rem;
  transition: 0.2s ease;
}

.login-form .input-wrapper i {
  position: absolute;
  top: 30%;
 
  transform: translateY(-50%);
}

.login-form .input-wrapper i.eye{
  font-size: 1.25rem;
  cursor: pointer;
  right: 0.9rem;
  display: none;
}
.login-form .input-wrapper .input-feild:valid ~ i.eye{
  display: block;
}
.login-form .input-wrapper i:not(.eye) {
  left: 0.9rem;
  /* pointer-events: none; */
}

.login-form .input-wrapper .input-feild:focus:not(.eye) {
  color: #2e13a7;
}

.login-form .input-wrapper .input-feild::placeholder {
  color: #a395e0;
}

.login-form .input-wrapper .input-feild:focus ~ i {
  color: #5F41E4;
}

.login-form .login-button, .signup-button {
  width: 100%;
  height: 34px;
  color: #fff;
  cursor: pointer;
  border: none;
  font-weight: 500;
  outline: none;
  font-size: 1.1rem;
  background: rgb(21, 56, 181);
  margin-top: 2.19rem;
  border-radius: 0.31rem;
  transition: 0.2s ease;
}

.login-form .signup-button.login-button:hover,
.signup-button:hover {
  background: #1f029e;
}
.social-button img {
  image-resolution: contain;
  width: 30px;
  height: 30px;
}

.aftername {
  display: flex;
  font-size: 0.90rem;
  min-width: 10rem;
  color: rgba(241, 240, 245, 0.678);
  justify-content: space-between;
}

.checkbox {
  scale: 1.5px;
}

.signup-text {
  text-align: center;
  font-weight: 500;
  margin: 1.75rem 0 0.31rem;
}

.login-container a {
  color: #5F41E4;
  font-weight: 500;
  text-decoration: none;
}

.login-container a:hover {
  text-decoration: underline;
}
.footer-container{

  position: relative;
  padding-top: 1rem;
  background: white;
  height: 100%;
  min-width: none;
  /* gap: 2rem; */
}
.footer-container a {
  text-decoration: none;
  color: black;
  font-size: small;
  gap: 10px;
}
 .footer-container h3{
  padding-right: 1em;
  display: flex;
}
.footer-product {
  padding-right: 1rem;
} 
.footer {
  display: flex;
  justify-content: space-between;
}
.footer-logo img{
  color: black;
  width: 70px;
  height: auto;
}
.footer-container p {
  padding-top: 1rem;
}

.griddis {
  display: grid;
}
.footer-bottom {
  font-size: small;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 700px) {
  body {
    min-height: 70vh;
  }
  .aftername {
    font-size: 0.80rem;
    gap: 3rem;
  }
 
}
@media (max-width: 310px) {
  .footer-container {
    width: 100%;
  }
  .footer-container h3{
    padding-right: 0.6em;
    display: flex;
  }
}


